name: Deploy
on:
  push:
    branches:
    - main
env:
    DEP_PATH: chatbot.py


jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: Deploy
      env:
        HEROKU_API_KEY: ${{secrets.HEROKU_API_KEY}}
        HEROKU_APP_NAME: "comp7940chatbot2023mh" 
      run: git push -f https://heroku:$HEROKU_API_KEY@git.heroku.com/$HEROKU_APP_NAME.git main
      
    -name: Security vulnerabilitles scan
      uses: aufdenpunkt/python-safety-check@master
      with:
        scan_requirments_file_only: 'true'
